In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv("Churn_Modelling.csv")
data

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

In [4]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [5]:
## Encode categorical Variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [6]:
## OneHot endoce 'Geography
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [7]:
geo_encoder_df=pd.DataFrame(geo_encoder.toarray(), columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
## Combine one hot encoder columns with the original data
data=pd.concat([data.drop('Geography', axis=1), geo_encoder_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [10]:

## Divide the dataset into independent and dependent features
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

## Split the data in training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42)

## Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [11]:
## Save the encoders and scaler
with open('label_encoder_gender.pk1', 'wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pk1', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pk1', 'wb') as file:
    pickle.dump(scaler, file)

ANN Regression Problem

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [14]:
## Build Our ANN Model
model = Sequential([
    Dense(64,activation='relu', input_shape=(X_train.shape[1],)), ## HL1 connected with input layer
    Dense(32, activation='relu'), ## HL@
    Dense(1) ## Output layer
]
)

## Compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [15]:
## Set up the Tensorboard
import datetime
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir, histogram_freq=1)

In [16]:
## Set up Early Stopping 
early_stopping_callback=EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [17]:
## Train the model
history=model.fit(
    X_train, y_train, validation_data=(X_test, y_test), epochs=100,
    callbacks=[tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 99946.2031 - mae: 99946.2031 - val_loss: 98538.4844 - val_mae: 98538.4844
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 99235.9219 - mae: 99235.9219 - val_loss: 97083.0078 - val_mae: 97083.0078
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 97933.3828 - mae: 97933.3828 - val_loss: 93336.5781 - val_mae: 93336.5781
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 93966.8984 - mae: 93966.8984 - val_loss: 87032.9844 - val_mae: 87032.9844
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 86770.3203 - mae: 86770.3203 - val_loss: 78855.4531 - val_mae: 78855.4531
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 77242.4453 - mae: 77242.4453 - val_loss: 70186.6875 - val_mae: 70186.6875
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 69123.7500 - mae: 69123.7500 - val_loss: 62455.1914 - val_mae: 62455.1914
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 61624.6914 - mae: 61624.6914 - val_loss: 56785.6992 - val_mae: 56785.6992
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 56458.5234 - mae: 56458.5234 - val_loss: 53295.6484 - val_mae: 53295.6484
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 52792.7773 - mae: 52792.7773 - val_loss: 51632.2031 - val_mae: 51632.2031
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51565.9727 - mae: 51565.9727 - val_loss: 51090.8750 - val_mae: 51090.8750
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51078.8203 - mae: 51078.8203 - val_loss: 50921.5469 - val_mae: 50921.5469
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50124.6953 - mae: 50124.6953 - val_loss: 50849.3047 - val_mae: 50849.3047
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50527.1250 - mae: 50527.1250 - val_loss: 50794.9570 - val_mae: 50794.9570
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50254.5781 - mae: 50254.5781 - val_loss: 50742.0781 - val_mae: 50742.0781
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50733.2539 - mae: 50733.2539 - val_loss: 50699.8633 - val_mae: 50699.8633
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49949.3008 - mae: 49949.3008 - val_loss: 50652.3047 - val_mae: 50652.3047
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49819.5391 - mae: 49819.5391 - val_loss: 50612.8398 - val_mae: 50612.8398
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50164.1367 - mae: 50164.1367 - val_loss: 50566.9023 - val_mae: 50566.9023
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50284.3438 - mae: 50284.3438 - val_loss: 50532.9922 - val_mae: 50532.9922
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50000.5195 - mae: 50000.5195 - val_loss: 50506.0859 - val_mae: 50506.0859
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50282.4180 - mae: 50282.4180 - val_loss: 50480.2031 - val_mae: 50480.2031
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49335.7656 - mae: 49335.7656 - val_loss: 50456.4766 - val_mae: 50456.4766
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49429.7422 - mae: 49429.7422 - val_loss: 50440.4570 - val_mae: 50440.4570
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50445.0273 - mae: 50445.0273 - val_loss: 50423.4922 - val_mae: 50423.4922
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49485.2656 - mae: 49485.2656 - val_loss: 50406.7344 - val_mae: 50406.7344
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50221.3516 - mae: 50221.3516 - val_loss: 50388.5586 - val_mae: 50388.5586
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49837.8281 - mae: 49837.8281 - val_loss: 50378.7578 - val_mae: 50378.7578
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49885.6680 - mae: 49885.6680 - val_loss: 50360.9883 - val_mae: 50360.9883
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50509.6758 - mae: 50509.6758 - val_loss: 50352.1523 - val_mae: 50352.1523
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50174.8984 - mae: 50174.8984 - val_loss: 50333.4570 - val_mae: 50333.4570
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49633.3281 - mae: 49633.3281 - val_loss: 50334.2773 - val_mae: 50334.2773
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49580.8750 - mae: 49580.8750 - val_loss: 50328.9336 - val_mae: 50328.9336
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49995.2070 - mae: 49995.2070 - val_loss: 50313.5273 - val_mae: 50313.5273
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49600.1133 - mae: 49600.1133 - val_loss: 50300.4141 - val_mae: 50300.4141
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49826.9805 - mae: 49826.9805 - val_loss: 50299.1016 - val_mae: 50299.1016
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49855.1328 - mae: 49855.1328 - val_loss: 50291.4414 - val_mae: 50291.4414
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49172.3516 - mae: 49172.3516 - val_loss: 50289.4883 - val_mae: 50289.4883
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49941.9258 - mae: 49941.9258 - val_loss: 50279.3516 - val_mae: 50279.3516
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50242.8008 - mae: 50242.8008 - val_loss: 50277.2969 - val_mae: 50277.2969
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49393.9297 - mae: 49393.9297 - val_loss: 50272.0117 - val_mae: 50272.0117
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49860.3203 - mae: 49860.3203 - val_loss: 50271.0234 - val_mae: 50271.0234
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49930.3438 - mae: 49930.3438 - val_loss: 50284.8594 - val_mae: 50284.8594
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49761.3398 - mae: 49761.3398 - val_loss: 50270.2266 - val_mae: 50270.2266
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49308.6484 - mae: 49308.6484 - val_loss: 50268.5664 - val_mae: 50268.5664
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50123.3750 - mae: 50123.3750 - val_loss: 50263.2539 - val_mae: 50263.2539
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49584.8359 - mae: 49584.8359 - val_loss: 50258.8203 - val_mae: 50258.8203
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49216.0078 - mae: 49216.0078 - val_loss: 50266.2656 - val_mae: 50266.2656
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49146.5195 - mae: 49146.5195 - val_loss: 50251.1836 - val_mae: 50251.1836
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49383.3359 - mae: 49383.3359 - val_loss: 50271.6641 - val_mae: 50271.6641
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49555.8320 - mae: 49555.8320 - val_loss: 50262.9297 - val_mae: 50262.9297
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50262.7617 - mae: 50262.7617 - val_loss: 50258.7930 - val_mae: 50258.7930
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49487.3438 - mae: 49487.3438 - val_loss: 50262.4141 - val_mae: 50262.4141
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49468.6289 - mae: 49468.6289 - val_loss: 50257.4492 - val_mae: 50257.4492
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49540.2656 - mae: 49540.2656 - val_loss: 50256.3438 - val_mae: 50256.3438
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49542.3906 - mae: 49542.3906 - val_loss: 50263.6992 - val_mae: 50263.6992
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49296.6562 - mae: 49296.6562 - val_loss: 50259.7695 - val_mae: 50259.7695
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49257.9531 - mae: 49257.9531 - val_loss: 50270.8828 - val_mae: 50270.8828
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49002.9102 - mae: 49002.9102 - val_loss: 50273.9375 - val_mae: 50273.9375

In [18]:
%load_ext tensorboard

In [21]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 11480), started 0:00:05 ago. (Use '!kill 11480' to kill it.)

In [22]:
## Evaluate model on the test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51079.0664 - mae: 51079.0664
Test MAE : 50251.18359375

In [23]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.